/docker/nginx-proxy-manager/data
/docker/nginx-proxy-manager/letsencrypt
/node_modules
/public/hot
/public/storage
/public/images
mix-manifest.json
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.testing
.env.staging
.env.production
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.phpstorm.meta.php
_ide_helper.php
jsconfig.json
public/css/*
public/fonts/*
public/js/*
rr
.rr.yaml
